
/*the first 2 rulesets are placed on top due to particular scripting needs*/ 
/*padding overlayed on image, without shrinking image to fit*/
div#padding:before {
	content: '';
	border: .5em solid;
	border: .6em solid;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div#frame {
	width: 250px;
	height: 300px;
	border: solid black;
	padding: 0em;
	z-index: 5;
	/*-width: 25px 25px 25px 25px;*/
	position: relative;
	display: inline-block;

}
/****************************/
/*begin general css */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	position: relative;
	font-family: Arial, sans-serif;


}
header {
	width: 100%;
	clear:  both
	background: grey;
	border: 1px solid black;
	height: 7em;
}
section {
	 
	 clear: both;
	 margin: 0 auto;
	 width: 95%;

}
header img {
	border: .5em solid #4B3621;
	width: 200px;
	height: 95px;
	border-radius: 50px;
	float: left;
	margin-top: 0em;
	margin-left: 7em;
}

header h1 {
	margin-top: 0em;
	margin-left: .5em;
	margin-right: 2em;
	font-size: 4em;
	opacity: .7;
	padding: .15em .3em .3em .3em;
	position: absolute;
	font-family: "Century Gothic";
}
/* transparent background for header brand image */
div#transp {
	width: 400px;
	height: 100px;
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 4em;
	margin-right: 2em;
	margin-top: .25em;
	margin-left: 4em;
	border: 3px solid black;
	border-radius: 10px;

}
div#transp::after {
  content: "";
  background: url('/images/frames_pexels_107911.jpg');
  opacity: 0.55;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
/* end transparent background for brand image */

/* nav items */
header nav ul li {
	display: inline-block;
	margin-left: 2em;
}
nav ul {
	float: right;
	margin-right: 3em;
}
nav ul li a {
	/*border: 1px solid black;*/
	text-decoration: none;
}
/* end nav items */

footer {
	bottom: 0;
	position: relative;
	width: 100%;
	margin-top: 3em;
	 
}


/*******************************************/
/*index page image selection */
div.img {
	border: solid black;/*cafe noir shade of brown */
	/*#321414 seal brown
	#4F3A3C dark puce
	#645452 wenge
	#4B3621 cafe noir brown*/
	border-width: 15px 15px 15px 15px;
	display: inline-block;
	margin: .5em;
}
/*single image selection display */
img.browse, input[type="image"] {
	width: 150px;
	height: 180px;
	border: solid ghostwhite;
	/*border-image: url(images/wood/wood-785605_640.jpg) 25% repeat;*/
	
	/*border-width: 15px 15px 15px 15px;*/
/*-webkit-border-image:url(/images/wood/wood.png) 15 20 30 30 repeat;
-moz-border-image:url('/images/wood/wood.png') 15 20 30 30 repeat;
border-image:url(/images/wood/brush_alum.jpg) 15 20 30 30 repeat;*/
} 
img.index {
	width: 100px;
	height: 140px;

}
img#currentbrowse {
	width: 100%;
	height: 100%;
	
	left: 0;
	top: 0;
	display:  inline-block;
	z-index: -1;
	position: absolute;
	border: none;
}

 



nav ul li {
	border: 1px solid blue;
	border-radius: 5px;
	background: lightYellow;
	text-transform: uppercase;
	padding: .3em;
	width: 6em;
	text-align: center;

}
span#greeting {
	border: 5px solid blue;
	border-radius: 5px;
	background: antiquewhite;
	text-transform: uppercase;
	padding: .3em;

}
div#selectionoptions {
	text-transform: uppercase;
	font-size: .8em;
	margin-left: 2em;
	display: inline-block;
	border:  3px dotted red;
	border-radius: 5px;
	background: lightyellow;
	width: 250px;
	height:  300px;
	position: absolute;
}
#selectionoptions label {
	display: block;
	margin: .5em;
}
#selectionoptions select {
	margin-left: .5em;
	text-transform: inherit;
	width: 60%;
	border-radius: 5px;
}
input[type="submit"] {
	margin-bottom: .75em;
	margin-left: .5em;
}
div#wishlistcontainer {
	float: right;
	width: 30em;
	height: 25em;
	background: grey;
	 
	border: 1px solid black;
	display: block;
}
img.wishitem {
	width: 5em;
	height: 5em;
}
#flash_message {
	background: orange;
	text-transform: uppercase;
	font-weight: bolder;
	display: inline-block;
}