
/*  the first 2 rulesets are placed on top due to particular scripting needs*/ 
/*  padding overlayed on image, without shrinking image to fit*/
/*  :before is dynamically style-changed with javascript, not possible with jquery*/
div#padding:before {
	content: '';
	border: solid 0em;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div#epadding:before {
	content: '';
	border: solid 0em;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

/****************************/
/*begin general css */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	position: absolute;
	font-family: "Century Gothic", sans-serif;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}
header#top {
	width: 100%;
	background: #F8F8F8;
	border: 1px solid black;
	height: 4em;
	position: fixed;
	z-index: 10;
}
header img {
	border: .5em solid #4B3621;
	width: 200px;
	height: 95px;
	border-radius: 50px;
	float: left;
	margin-top: 0em;
	margin-left: 7em;
}
header h1 {
	margin-top: 0em;
	margin-left: .5em;
	margin-right: 2em;
	font-size: 2.6em;
	opacity: .7;
	left: 0em;
	top: -.17em;
	padding: .15em 5em .15em .3em;
	position: relative;
	font-family: "Century Gothic";
	color: black;
	font-weight: bolder;
	height: 3em;
	display: inline-block;
}
/* transparent background for header brand image */
div#transp {
	width: 23em;
	height: 3em;
	display: block;
	position: relative;
	float: left;
	margin-left: 4em;
	margin-right: 2em;
	margin-top: .5em;
	margin-left: 4em;
	border: 3px solid black;
	border-radius: 10px;
	z-index: 0;
}
div#transp::after {
  content: "";
  background: url('/images/frames_pexels_107911.jpg');
  opacity: 0.4;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
/* end transparent background for brand image */
#ctrhead{
	margin-top: 1.25em;
	margin-bottom: .25em;
	height: 2em;
	font-size: 1em;
	float:left;
	display:inline-block;
	text-transform:uppercase;
}
#headimage {
	left: 9em;
	bakcground:blue;
}
/* nav items */
 header nav ul li {
	display: inline-block;
	margin-left: 5em;
	top: 0;
	margin-top: 0;
}
nav ul {
	margin-right: 3em;
	position: fixed;
	right: 0;
	margin-top: 0;
}
nav ul li a {
	text-decoration: none;
}
/* end nav items */

footer {
	bottom: 0;
	position: fixed;
	width: 100%;
	margin: 3em auto 0 auto;
	height: 2em;
	background: #F8F8F8;
	z-index: 10;
	border-top: 2px solid black;
	text-align:center;
}

/*******************************************/
/*index page image selection */
div.img {
	border: 1px solid black;
	display: inline-block;
	margin: .5em;
	height: 7em;
	width: 9em;
	position: relative;
}
/*single image selection display */
img.browse, input[type="image"] {
	width: 150px;
	height: 180px;
	border: solid ghostwhite;
} 
img.index {
	width: 100%;
	height: 100%;
	border: none;
	position: relative;
}
nav ul li {
	border: 1px solid blue;
	border-radius: 5px;
	background: lightYellow;
	text-transform: uppercase;
	padding: .3em;
	width: 6em;
	text-align: center;
}
li#greeting {
	border: 3px solid purple;
	border-radius: 10px;
	background: aqua;
	text-transform: uppercase;
	font-weight: bolder;
	padding: .3em .3em 0 .3em ;
	font-size: 1em;
	letter-spacing: 0.15em;
	text-align: center;
 	display: inline-block;
	height: 2em;
	margin-top: 1em;	
	width: 10em;
	color: purple;
}
div#selectionoptions {
	text-transform: uppercase;
	font-size: .8em;
	margin-left: 2em;
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	background: lightyellow;
	width: 35%;
	height:  27.75em;
	position: absolute;
}
#selectionoptions label {
	display:inline-block;
	margin: .5em;
}
#selectionoptions select {
	margin-left: .5em;
	text-transform: inherit;
	width: 60%;
	border-radius: 5px;
}
input[type="submit"] {
	margin-bottom: .75em;
	margin-left: .5em;
}
#flash_message {
	background: orange;
	text-transform: uppercase;
	font-weight: bolder;
	display: inline-block;
	position: absolute;
	height: 3.5em;
	margin: .25em 0 .25em 5em;
	padding-top: 1em;
	left: 30em;
}
#purchasepoint {
	width: 100%;
}
#purchase fieldset{
	margin-left: 0;
	display: inline-block;
	width: 45%;
}
#purchase fieldset label {
	margin-left: 2em;
}
section #displayselection {
	border: 2px solid black;
	position: absolute;
	display: inline-block;
	padding: 2em;
	width: 45%;
	height: 25em;
}
section #browsecontent {
	float: left;
	width: 60%;
	padding-left: 0;
	margin-left: 0;
}
section #information {
	float: right;
	width: 40%;
	background: floralwhite;
	height: inherit;
	top: 0;
	bottom: 0;
	position: relative;
	padding-right: 0;
	border-left: 0;
}
div#mainpagecontainer {
	clear: left;
	position: relative;
	width: 100%;
	background: antiquewhite;
	top: 4em;
	bottom: 0;
	height: 75em;
	display: block;
	margin: 0 auto;
}
nav ul li a {
	font-family: Arial, sans-serif;
	color: red;
}
div#welcomemessage {
	margin-top: 5em;
	margin-left: 4em;
	background: pink;
	display: block;
	border-radius: 10px;
	position: absolute;
	height: 5em;
}
#keepbrowse {
	position: relative;
	margin-top: 1.1em;
	margin-left: .8em;
	padding: .5em .5em .5em .5em;
	width: 75%;
	font-size: .9em;
}
#keepbrowse a {
	text-decoration: none;
	text-transform:  uppercase;
	font-weight:bolder;
}
div#browse {
	width: 100%;
	border: 1px solid black;
	position: relative;
	position:absolute;
	height: 5.2em;
	background: antiquewhite;
	margin: 0 auto;
}
div#frame {
	width: 55%;
	height: 250px;
	border: solid black;
	padding: 0em;
	z-index: 5;
	position: relative;
	display: inline-block;
}
div#eframe {
	width: 55%;
	height: 250px;
	border: solid black;
	padding: 0em;
	z-index: 5;
	position: relative;
	display: inline-block;
}
img#currentbrowse {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display:  inline-block;
	z-index: -1;
	position: absolute;
	border: none;
}
/*for individual items in wishlist display */
.wishcontainer {
	width: 30%;
	height: 20%;
 	float: left;
	margin-bottom: 3em;
}
#options {
	float:left;
}
#wish {
	height: 50em;
	background: grey;
	right:  0;
	width: 40%;
	margin-right:2em;
	position: absolute;
}
/*overall wishlist section */
div#wishlistcontainer {
	float: right;
	height: 100%;
	background: grey;
	width: 100%;
	display: block;
	padding: .5em;
	margin-top: 3em;
	padding-bottom: 4em;
}
/*picnook list */
#wishlistcontainer #listheading {
	background: antiquewhite;
	width: 100%;
	text-transform: uppercase;
	margin-top: 0;
	padding: .5em;
	text-align: center;
	margin-bottom: 0;
	font-size: 1.3em;
}
img.wishitem {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	left: 0;
	top: 0;
 	z-index: -1;
	position: absolute;
}
div.frame {
	width: 85%;
	height: 95%;
	padding: .1em;
	position: relative;
	z-index: 5;
}
div.padding:before {
	content: '';
	border: white solid .4em;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#searchtest {
	margin-top: 7em;
}
.edit, .details, .delete {
	visibility: hidden;
	text-transform:uppercase;
	padding: .1em;
	font-size: .9em;
	border: 1px solid black;
	border-radius: 5px;
}
.visiblebutton {
	visibility:visible;
}
.deleteform {
	margin:0;
	padding:0;
	display:inline-block;
}
.delete, .edit {
	display: inline-block;
}
.edit a {
	text-decoration: none;
	color: black;
}
a:visited {
	color:black;
}
.edit, #keepbrowse {
	background-color: #e7e7e7;
	text-decoration: none;
	color: black;
	padding: .1em .25em .1em .25em;
	}
#keepbrowse {
	border: 1px solid black;
	background-color: white;
	font-size: 1.3em;
	margin-top: .9em;
	display:inline-block;
	padding: .5em;
	font-weight: bolder;
	color: blue;
	border-radius: 10px;
}	
.details {
	float:left;
	display:inline-block;
	margin-bottom: 1.75em;
}
div#frame {
	margin-bottom:0;
}
#selectionoptions fieldset input[type="range"]{
	width: 80%;
}
#mainpagecontainer #wish {
	width: 90%;
	display:none;
}
#mainpagecontainer #wishlistcontainer {	 
	display:none;
	width: 90%;
	margin: 0 auto;
	height: 25em;
	background: grey;
	padding: .5em;
	padding-bottom: 4em;
	left: 1.5em; 
}
#mainpagecontainer .wishcontainer {
	width: 25%;
	height: 25%;
	float: left;
	margin-bottom: 3em;
}
#mainpagecontainer button {
	font-size: .8em;
}
#categoriesdiv {
	width: 10em;
	top: .1em;
	left: 26em;
	position: absolute;
}
#categorysubmit {
	margin-top: .5em;
	float:left;
	padding: .5em;
}
#searchable {
	width: 7em;
	top: 1.3em;
	left: 35em;
	position: absolute;
}
#searchable form {
	display:inline-block;
	width: 20em;
}
.searchresult {
	width: 275px;
	float: left;
	display:inline-block;
	height: 250px;
	margin-left: 2em;
	margin-bottom: 1em;
	margin-top:1em;
	border: 1px solid black;
}
.searchresult img {
	width: 90%;
	height: 75%;
	position: relative;
	margin: .3em auto 0 auto;
	display:block;
}
.searchresult h3 {
	display: inline-block;
	text-transform:uppercase;
	font-size: .9em;
	font-family: "arial Narrow";
	margin-bottom: 0;
	margin-top:.5em;
	margin-left: .8em;	
	position:relative;
}
.searchresult span {
	color: blue;
	font-family: "arial narrow";
}
.searchresult:nth-of-type(2) {
	margin-bottom:1em;
}
#welcomepagecontainer section {
	margin: 0 auto;
	font-size: 3em;
 	width: 80%;
	text-align:center;
	border: 1px solid red;
	margin-top: 4em;
}
#searchable h3 {
	font-size: .85em;
	font-weight:normal;
	margin: 0;
	padding: 0;
	position: absolute;
	top:-1.3em;
	text-transform:uppercase;
	width: 20em;
}

#savechanges {
	font-weight: bolder;
}
#pg1rightcontent {
	padding: 1em;
}
.title {
	font-size: .7em;
}
@media all and (max-width: 900px) {
	#purchase fieldset label {
	margin-left: .25em;
	margin-top: 0;
	margin-bottom: 0;
	display:block;
	font-size: .85em;
	}
}
@media all and (max-width: 840px) {
 	section #displayselection {
		height:65% ;
	}
	#purchase fieldset label {
		margin-left: .25em;
		display:block;
	}
}
@media all and (max-width: 720px) {
 	section #displayselection {
		height:75% ;
	}
}
@media all and (max-width: 400px) {
 	section #displayselection {
		height:85% ;
	}
}
