
/*the first 2 rulesets are placed on top due to particular scripting needs*/ 
/*padding overlayed on image, without shrinking image to fit*/
/*:before is dynamically style-changed with javascript, not possible with jquery*/
div#padding:before {
	content: '';
	border: solid 0em;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div#frame {
	width: 250px;
	height: 300px;
	border: solid black;
	padding: 0em;
	z-index: 5;
	/*-width: 25px 25px 25px 25px;*/
	position: relative;
	display: inline-block;

}
img#currentbrowse {
	width: 100%;
	height: 100%;
	
	left: 0;
	top: 0;
	display:  inline-block;
	z-index: -1;
	position: absolute;
	border: none;
}
/*for individual items in wishlist display */
.wishcontainer {
	width: 20%;
	height: 20%;
 
	float: left;
 	 
}
/*overall wishlist section */
div#wishlistcontainer {
	float: right;
	width: 35%;
	height: 25em;
	background: grey;
	 
	border: 1px solid black;
	display: block;
	position: relative;
	
	padding: .5em;
	margin-top: 3em;
}
/*picnook list */
#wishlistcontainer h2 {
	background: antiquewhite;
	width: 100%;
	text-transform: uppercase;
	margin-top: 0;
	padding: .5em;
	text-align: center;
}
img.wishitem {
	width: 100%;
	height: 100%;
	margin: 0 auto;
 
	 left: 0;
	 top: 0;
 
	
	
	 
	z-index: -1;
	position: absolute;
}
div.frame {
	width: 90%;
	height: 90%;
	padding: .1em;
	position: relative;
	 
	z-index: 5;
  
}
div.padding:before {
	content: '';
	border: white solid .4em;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
/*div.frame img {
	width: 50px
	height: 80px;
}*/
/****************************/
/*begin general css */

html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	position: absolute;
	font-family: "Century Gothic", sans-serif;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}
header#top {
	width: 100%;
	
	background: #F8F8F8;
	border: 1px solid black;
	height: 4em;
	 
	position: fixed;
	z-index: 10;
	 

	 
}
 
header img {
	border: .5em solid #4B3621;
	width: 200px;
	height: 95px;
	border-radius: 50px;
	float: left;
	margin-top: 0em;
	margin-left: 7em;
}

header h1 {

	margin-top: 0em;
	margin-left: .5em;
	margin-right: 2em;
	font-size: 3em;
	opacity: .7;
	left: 0em;
	top: -.3em;
	padding: .15em .3em .15em .3em;
position: relative;
	font-family: "Century Gothic";
	color: block;
	font-weight: bolder;
	height: 3em;
	display: inline-block;
}
/* transparent background for header brand image */
div#transp {
	width: 20em;
	height: 3em;
	display: block;
	position: relative;
	float: left;
	margin-left: 4em;
	margin-right: 2em;
	margin-top: .5em;
	margin-left: 4em;
	border: 3px solid black;
	border-radius: 10px;
	z-index: 0;
	
}
div#transp::after {
  content: "";
  background: url('/images/frames_pexels_107911.jpg');
  opacity: 0.4;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;

  position: absolute;
  z-index: -1;   
}
/* end transparent background for brand image */

#ctrheadimage {
	margin-top: .25em;
	margin-bottom: .25em;
	position: absolute;
	height: 3.4em;
	left: 30em;
}
/* nav items */
header nav ul li {
	display: inline-block;
	margin-left: 2em;
}
nav ul {
	 
	margin-right: 3em;
	position: fixed;
	right: 0;
}
nav ul li a {
	/*border: 1px solid black;*/
	text-decoration: none;
}
/* end nav items */

footer {
	bottom: 0;
	
	position: fixed;
	width: 100%;
	margin: 3em auto 2em auto;
	height: 2em;
	background: #F8F8F8;
	z-index: 10;
	border-top: 2px solid black;
	text-align:center;

}


/*******************************************/
/*index page image selection */
div.img {
	border: 1px solid black;/*cafe noir shade of brown */
	/*#321414 seal brown
	#4F3A3C dark puce
	#645452 wenge
	#4B3621 cafe noir brown*/
	/*border-width: 15px 15px 15px 15px;*/
	display: inline-block;
	margin: .5em;
	height: 7em;
	width: 9em;
	position: relative;
}
/*single image selection display */
img.browse, input[type="image"] {
	width: 150px;
	height: 180px;
	border: solid ghostwhite;
	/*border-image: url(images/wood/wood-785605_640.jpg) 25% repeat;*/
	
	/*border-width: 15px 15px 15px 15px;*/
/*-webkit-border-image:url(/images/wood/wood.png) 15 20 30 30 repeat;
-moz-border-image:url('/images/wood/wood.png') 15 20 30 30 repeat;
border-image:url(/images/wood/brush_alum.jpg) 15 20 30 30 repeat;*/
} 
img.index {
	width: 100%;
	height: 100%;
	border: none;
	position: relative;
	 
	 


}


 



nav ul li {
	border: 1px solid blue;
	border-radius: 5px;
	background: lightYellow;
	text-transform: uppercase;
	padding: .3em;
	width: 6em;
	text-align: center;

}
span#greeting {
	border: 3px solid purple;
	border-radius: 10px;
	background: aqua;
	text-transform: uppercase;
	font-weight: bolder;
	padding: .3em .3em 0 .3em ;
	font-size: 1em;
	letter-spacing: 0.15em;
	text-align: center;
	margin-top: 0;	
	display: inline-block;
	height: 2em;
	top: -.1em;
	color: purple;
	float: left;

}
div#selectionoptions {
	text-transform: uppercase;
	font-size: .8em;
	margin-left: 2em;
	display: inline-block;
	
	border-radius: 5px;
	background: lightyellow;
	width: 250px;
	height:  27.75em;
	position: absolute;
}
#selectionoptions label {
	 display:inline-block;
	margin: .5em;
}
#selectionoptions select {
	margin-left: .5em;
	text-transform: inherit;
	width: 60%;
	border-radius: 5px;
}
input[type="submit"] {
	margin-bottom: .75em;
	margin-left: .5em;
}

 
#flash_message {
	background: orange;
	text-transform: uppercase;
	font-weight: bolder;
	display: inline-block;
	position: absolute;
	height: 3.5em;
	margin: .25em 0 .25em 5em;
	padding-top: 1em;
	left: 30em;
}
#purchase fieldset{
	margin-left: 0;
	display: inline-block;
	width: 15.75em;

}
#purchase fieldset label {
	margin-left: 2em;
}
section #displayselection {
	border: 2px solid black;
	position: absolute;
	display: inline-block;
	padding: 1em;
	width: 40%;
}
section #browsecontent {
	float: left;
	width: 60%;
	padding-left: 0;
	margin-left: 0;
}
section #information {
	float: right;
	width: 40%;
	background: floralwhite;
	height: inherit;
	top: 0;
	bottom: 0;
	position: relative;
	padding-right: 0;
	border-left: 0;

}
div#mainpagecontainer {
	clear: left;
	position: relative;
	width: 100%;
	background: antiquewhite;
	top: 4em;
	bottom: 0;
	height: 75em;
	display: block;
	margin: 0 auto;
}
/*century gothic not right for nav links */
nav ul li a {
	font-family: Arial, sans-serif;
	/*font-family: "Century Gothic", sans-serif;*/
	color: red;
	 
	 
}
div#welcomemessage {
	 
	margin-top: 5em;
	margin-left: 4em;
	background: pink;
	display: block;
	border-radius: 10px;
	position: absolute;
	height: 5em;

}
#keepbrowse {
	 position: absolute;
	 margin-top: 1.4em;
	 margin-left: 1.5em;
	 padding: .5em .5em .5em .5em;

	  
}
#keepbrowse a {
	text-decoration: none;
	text-transform:  uppercase;
	font-weight:bolder;
}
div#browse {
	width: 19.2em;
	border: 1px solid black;
	position: relative;
	position:relative;
	height: 5.2em;
	 
	background: antiquewhite;
	margin: 0 auto;
}

#searchtest {
	margin-top: 7em;
}